/* Add your CSS styles here */

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reservation-form {
  display: grid;
  max-width: 400px;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
}

.reservation-form h1 {
  margin: 0;
}

.reservation-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.reservation-form input[type="date"],
.reservation-form select,
.reservation-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: rgb(32, 63, 239);
}

.error-text {
  color: red;
}

.reservation-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reservation-form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
