/* footer.css */

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: max-content;
  width: 90vw;
  margin-top: 100px;
}

.footerLogo {
  max-width: 100px;
  height: auto;
}

.footerHeading {
  font-size: 18px;
  margin-bottom: 10px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 10px;
}

.footerList a {
  text-decoration: none;
  color: #fff;
}

.footerList a:hover {
  text-decoration: underline;
}
